<div id="panelReunion" class="panel panel-default">
  <div id="bodyReunion" class="panel-body">
    <h3>Calendario de Notificaciones</h3>
    <hr>
    <form novalidate [formGroup]="formReunion">
      <button id="enviarReunion" (click)="enviarReunion()" form="formReunion" type="submit" class="btn btn-success">Generar Reunion </button>
      <div id="infoPerfil1">
        <div class="form-group">
          <label for="tituloReunion">Titulo de Reunión</label>
          <input formControlName="tituloReunion" type="text" class="form-control" placeholder="Titulo de Reunion">
        </div>
        <div class="form-group">
          <label for="numeroReunion">Nº de Reunion</label>
          <input formControlName="numeroReunion" type="text" class="form-control" placeholder="Número de Reunion">
        </div>
        <div class="form-group">
          <label for="fechaReunion">Fecha</label>
          <input formControlName="fechaReunion" type="date" class="form-control">
        </div>
      </div>
      <div id="infoPerfil2">
        <div class="form-group">
          <label for="hInicioReunion">Hora Inicio</label>
          <input formControlName="hInicioReunion" type="time" class="form-control">
        </div>
        <div class="form-group">
          <label for="hTerminoReunion">Hora termino</label>
          <input formControlName="hTerminoReunion" type="time" class="form-control">
        </div>
        <div class="form-group">
          <label for="selectorSede">Sede</label>
          <select formControlName="selectorSede" class="form-control">
                  <option selected>Seleccione Sede</option>
                  <option value="1">Antonio Varas</option>
                  <option value="2">Republica</option>
                  <option value="3">Viña del Mar</option>
                  <option value="3">Concepcion</option>
              </select>
        </div>
      </div>
      <div id="textDescription" class="form-group">
        <label for="descripcionReunion" style="margin-top: 20px;">Descripción reunión</label>
        <textarea id="descripcionReunion" formControlName="descripcionReunion" class="form-control" rows="3"></textarea>
      </div>
      <div id="overflowReunion">
        <h4>Ingrese Asistentes</h4>
        <hr>
        <button id="addAsistente" (click)="addAsistente()" type="button" class="btn btn-success">Agregar Fila</button>
        <div id="tableAsistente" class="divTable" formArrayName="asistentesForm">
          <div id="cuerpoAsistente" class="divTableBody">
            <div class="divTableRow">
              <div class="divTableCell">Nombre</div>
              <div class="divTableCell">Correo</div>
              <div class="divTableCell">Cargo</div>
            </div>
            <div [formGroupName]="i" *ngFor="let obj of formReunion.controls.asistentesForm.controls; let i=index" id="tbl_asistentes"
              class="divTableRow">
              <div class="divTableCell">
                <input formControlName="nombreAsistente" class="form-control" type="text" placeholder="Ingrese nombre">
              </div>
              <div class="divTableCell">
                <input formControlName="correoAsistente" class="form-control" type="email" placeholder="Ingrese correo electronico">
              </div>
              <div class="divTableCell">
                <select formControlName="selectorCargo" class="custom-select">
                      <option selected>Seleecione Cargo</option>
                      <option value="1">Estudiante</option>
                      <option value="2">Invitado</option>
                      <option value="3">Dir. de Carrera</option>
                      <option value="3">Profesor</option>
                    </select>
              </div>
              <div class="divTableCell" id="dellCell">
                <button (click)="dellAsistente(i)" type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>