<div class="container">
  <div id="panelActa" class="panel panel-default">
    <div id="bodyActa" class="panel-body">
      <h3>Formulario creación - Acta de Reunión</h3>
      <hr>
      <form novalidate [formGroup]="formActa">
        <button id="enviarActa" (click)="guardarActa()" type="submit" class="btn btn-success">Enviar Informe</button>
        <h4>Información Básica</h4>
        <hr>
        <div id="panelBasic1">
          <div class="form-group">
            <label for="tituloActa">Titulo de acta</label>
            <input formControlName="tituloActa" type="text" class="form-control" placeholder="Titulo Acta">
          </div>
          <div class="form-group">
            <label for="numeroActa">Nº de acta</label>
            <input formControlName="numeroActa" type="text" class="form-control" placeholder="Número Acta">
          </div>
          <div class="form-group">
            <label for="fechaActa">Fecha</label>
            <input formControlName="fechaActa" type="date" class="form-control">
          </div>
        </div>
        <div id="panelBasic2">
          <div class="form-group">
            <label for="horaInicioActa">Hora Inicio</label>
            <input formControlName="horaInicioActa" type="time" class="form-control">
          </div>
          <div class="form-group">
            <label for="horaTerminoActa">Hora termino</label>
            <input formControlName="horaTerminoActa" type="time" class="form-control">
          </div>
          <div class="form-group">
            <label for="selectorSede">Sede</label>
            <select formControlName="selectorSede" class="form-control">
                <option value="1">Antonio Varas</option>
                <option value="2">Republica</option>
                <option value="3">Viña del Mar</option>
                <option value="3">Concepcion</option>
              </select>
          </div>
        </div>
        <div id="overflowActa">
          <h4>Ingrese Asistentes</h4>
          <hr>
          <button id="addAsistente" (click)="addAsistente()" type="button" class="btn btn-success">Agregar Fila</button>
          <div id="tableAsistente" class="divTable" formArrayName="asistentesForm">
            <div id="cuerpoAsistente" class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell">Nombre</div>
                <div class="divTableCell">Correo</div>
                <div class="divTableCell">Cargo</div>
              </div>
              <div [formGroupName]="i" *ngFor="let obj of formActa.controls.asistentesForm.controls; let i=index" id="tbl_asistentes" class="divTableRow">
                <div class="divTableCell">
                  <input formControlName="nombreAsistente" class="form-control" type="text" placeholder="Ingrese nombre">
                </div>
                <div class="divTableCell">
                  <input formControlName="correoAsistente" class="form-control" type="email" placeholder="Ingrese correo electronico">
                </div>
                <div class="divTableCell">
                  <select formControlName="selectorCargo" class="custom-select">
                      <option selected>Seleecione Cargo</option>
                      <option value="1">Estudiante</option>
                      <option value="2">Invitado</option>
                      <option value="3">Dir. de Carrera</option>
                      <option value="3">Profesor</option>
                    </select>
                </div>
                <div class="divTableCell" id="dellCell">
                  <button (click)="dellAsistente(i)" type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>      
    </div>
  </div>
</div>