<div id="panelMinuta" class="panel panel-default">
  <div id="bodyMinuta" class="panel-body">
    <h3>Formulario creación - Minuta</h3>
    <hr>
    <form novalidate [formGroup]="formMinuta">
      <button id="sentMinuta" type="submit" class="btn btn-success">Enviar Minuta</button>
      <div id="infoBasic">
        <h4>Información Básica - Minuta</h4>
        <hr>
        <div id="panelBasic1">
          <div class="form-group">
            <label for="tituloMinuta"> Titulo de Minuta </label>
            <input formControlName="tituloMinuta" type="text" class="form-control" placeholder="Titulo Minuta">
          </div>
          <div class="form-group">
            <label for="asuntoMinuta"> Asunto Minuta</label>
            <input formControlName="asuntoMinuta" type="text" class="form-control" placeholder="Asunto Minuta">
          </div>
          <div class="form-group">
            <label for="fechaMinuta"> Fecha </label>
            <input formControlName="fechaMinuta" type="date" class="form-control">
          </div>
        </div>
        <div id="panelBasic2">
          <div class="form-group">
            <label for="horaInicioMinuta"> Hora Inicio </label>
            <input formControlName="horaInicioMinuta" type="time" class="form-control">
          </div>
          <div class="form-group">
            <label for="horaTerminoMinuta"> Hora Termino </label>
            <input formControlName="horaTerminoMinuta" type="time" class="form-control">
          </div>
          <div class="form-group">
            <label for="selectorSede">Sede</label>
            <select formControlName="selectorSede" class="form-control">
                <option value="1">Antonio Varas</option>
                <option value="2">Republica</option>
                <option value="3">Viña del Mar</option>
                <option value="3">Concepcion</option>
              </select>
          </div>
        </div>
        <div id="overflowMinuta">
          <h4>Ingrese Asistentes</h4>
          <hr>
          <button id="addAsistente" (click)="addAsistente()" type="button" class="btn btn-success">Agregar Fila</button>
          <div id="tableAsistente" class="divTable" formArrayName="asistentesForm">
            <div id="cuerpoAsistente" class="divTableBody">
              <div class="divTableRow">
                <div class="divTableCell">Nombre</div>
                <div class="divTableCell">Correo</div>
                <div class="divTableCell">Cargo</div>
              </div>
              <div [formGroupName]="i" *ngFor="let obj of formMinuta.controls.asistentesForm.controls; let i=index" id="tbl_asistentes"
                class="divTableRow">
                <div class="divTableCell">
                  <input formControlName="nombreAsistente" class="form-control" type="text" placeholder="Ingrese nombre">
                </div>
                <div class="divTableCell">
                  <input formControlName="correoAsistente" class="form-control" type="email" placeholder="Ingrese correo electronico">
                </div>
                <div class="divTableCell">
                  <select formControlName="selectorCargo" class="custom-select">
                      <option selected>Seleecione Cargo</option>
                      <option value="1">Estudiante</option>
                      <option value="2">Invitado</option>
                      <option value="3">Dir. de Carrera</option>
                      <option value="3">Profesor</option>
                    </select>
                </div>
                <div class="divTableCell" id="dellCell">
                  <button (click)="dellAsistente(i)" type="button" class="btn btn-danger">Eliminar</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>