<div id="panelInforme" class="panel panel-default">
  <div id="bodyInforme" class="panel-body">
    <h3>Formulario Creación - Informe de Gestion</h3>
    <hr>
    <form novalidate [formGroup]="formInforme">
      <button id="btn_sent" (click)="guardarInforme()" type="submit" class="btn btn-success">Enviar Informe</button>
      <h4>Información Básica</h4>
      <hr>
      <div class="form-group">
        <label for="tituloInforme">Titulo de Informe</label>
        <input id="tituloInforme" formControlName="tituloInforme" type="text" class="form-control" placeholder="Titulo de Informe">
      </div>
      <div class="form-group">
        <label for="fechaInforme">Fecha:</label>
        <input id="fechaInforme" formControlName="fechaInforme" type="date" class="form-control">
      </div>
      <div id="overflowGral" formArrayName="objetivoGeneral">
        <h4>Ingrese Objetivos Generales</h4>
        <hr>
        <button (click)="addObjetivo()" id="addObjetivo" type="button" class="btn btn-success">Agregar Fila</button>
        <div class="divTable">
          <div class="divTableBody">
            <!--<div class="divTableRow">
                <div class="divTableCell">#</div>
                <div class="divTableCell">Puntos</div>
              </div>-->
            <div [formGroupName]="i" *ngFor="let obj of formInforme.controls.objetivoGeneral.controls; let i=index" id="tbl_objGeneral"
              class="divTableRow">
              <div id="idObj" class="divTableCell">{{ (i+1) }}</div>
              <div class="divTableCell">
                <input formControlName="text" class="form-control" type="text" placeholder="Objetivo General">
              </div>
              <div class="divTableCell" id="dellCell">
                <button (click)="delObjGral(i)" type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div id="tbl_espec" class="divTable" formArrayName="objEspec">
        <h4>Ingrese Objetivos Específicos</h4>
        <hr>
        <button (click)="addObjectivoEspecifico()" id="addObjetivoEspec" type="button" class="btn btn-success">Agregar Fila</button>
        <div id="overflowGral">
          <div class="divTableBody">
            <!--<div class="divTableRow">
                <div class="divTableCell">#</div>
                <div class="divTableCell">Puntos</div>
              </div>-->
            <div [formGroupName]="i" *ngFor="let obj of formInforme.controls.objEspec.controls; let i=index" id="tbl_objGeneral" class="divTableRow">
              <div id="idObj" class="divTableCell">{{ (i+1) }}</div>
              <div class="divTableCell">
                <input id="objEspec" formControlName="text" class="form-control" type="text" placeholder="Ingrese Objetivos Específicos">
              </div>
              <div class="divTableCell" id="dellCell">
                <button (click)="delObjEspecifico(i)" type="button" class="btn btn-danger">Eliminar</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>