<div class="container">
    <div id="panelPerfil" class="panel panel-default">
        <div id="bodyPerfil" class="panel-body">
            <h3>Perfil</h3>
            <hr>
            <form>
                <input id="sentPerfil" type="submit" class="btn btn-success" value="Modificar Perfil">
                <div id="perfil1">
                    <div class="form-group">
                        <label for="nombrePerfil">Nombre:</label>
                        <input id="nombrePerfil" type="text" class="form-control" placeholder="Nombre">
                    </div>
                    <div class="form-group">
                        <label for="apellidoPerfil">Apellido:</label>
                        <input id="apellidoPerfil" type="text" class="form-control" placeholder="Apellido">
                    </div>
                    <div class="form-group">
                        <label for="telefonoPerfil">Telefono:</label>
                        <input id="telefonoPerfil" type="tel" class="form-control" placeholder="Telefono">
                    </div>
                </div>
                <div id="perfil2">
                    <div class="form-group">
                        <label for="emailPerfil">Email:</label>
                        <input id="emailPerfil" type="email" class="form-control" id="inputEmail" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="passwordPerfil">Password:</label>
                        <input id="passwordPerfil" type="password" class="form-control" id="inputPassword" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="passwordPerfilConfirmar">Confirmar Password:</label>
                        <input id="passwordPerfilConfirmar" type="password" class="form-control" placeholder="Confirmar Password">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>